<h2>Articles</h2>
<p>You can manage your articles from here</p>
<% if @articles.empty? %>
	<p>You currently have no articles</p>
<% else %>
	<table>
		<tr>
			<th>Title</th>
			<th>Posted By</th>
			<th colspan="3">Posted On</th>
		</tr>
		<% for article in @articles %>
		<tr class="<%= cycle %>">
			<td><%=article.title%></td>
			<td><%=article.user.name %></td>
			<td><%=article.date.strftime("%b %d, %Y") %></td>
			<td><form action="/admin/article/edit/<%=article.id%>" method="get"><input type="submit" value="edit" /></form></td>
			<td><form action="/admin/article/<%=article.id%>" method="post"><input type="hidden" name="_method" value="delete"><input type="submit" value="delete" /></form></td>
				
		</tr>
		<% end %>
	</table>
<% end %>
<a href="/admin/article/create">Create Article</a>