<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
	"http://www.w3.org/TR/xhtml1/DTD/khtml1-transitional.dtd">
<html xmlns="http://w3.org/1999/khtml" lang="en" xml: lang="en">
<head>
	<title><%=$config[:title] %> &raquo; <%=@title%></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="/css/style.css" />
	<script type="text/javascript" src="javascript/mootools.js"></script>
	<script type="text/javascript" src="javascript/slimbox.js"></script>
</head>
<body>
	<h1><a href="/"><%= $config[:title] %></a></h1>
	<h2><%= $config[:description] %></h2>
	<ul id="navigation">
		<li><a href="/">Home</a></li>
		<%for page in @pages %>
		<li><a href="/page/<%=page.id%>"><%=page.title%></a></li>
		<% end %>
	</ul>
	<div id="content">
		<% if(flash[:notice]) %>
		<div class="notice"><%= flash[:notice] %></div>
		<% end %>
		<%= yield %>
	</div>
	<div id="footer">
		<p>&copy; Copyright 2009 Brightfly Studio</p>
	</div>
</body>
</html>